@charset "UTF-8";
/* CSS Document */
a{
	color: #FF0004;
	text-decoration: none;
}

.link{
/*	margin: 20px;*/
	margin-right: 50px;
}


.link-rosa{
	color: #E700FF;
}

.link-laranja{
	color: #FF8F00;
}


.alinhador{
	display: flex;
	justify-content:center;
	background: #A1C5E7;
}

li{
	list-style: none;
}

.primeiro-link:hover{
	
}

.alinhador{
	background: red;
}

.alinhador:hover{
	background: blue;
}


.alinhador{
	margin-bottom: 100px;
	transition-timing-function: linear;
}

.alinhador:hover{
	padding: 100px;
}

.texto{
	background: red;
	transition: 1s;
	display: flex;
	margin-top: 250px;
}

.texto:hover{
	width: 1000px;
	transform:scale(200px);
}


.bkred{
	background-image: url("bolo.jpg");
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.minha-imagem{
	width: 200px;
	height: 200px;
}








/*

.ul-menu{
	display: flex;
	justify-content: space-around;
}

*/

